<app-navbar></app-navbar>
<select class="browser-default"  [(ngModel)]="selectQuiz" name="selectQuiz" (change)="getQuiztitle($event.target.value)">
  <option [ngValue]="undefined" selected>--Select--</option>
  <option *ngFor="let title of QuizTitles" [value]="title.id">{{title.id}}.{{title.title}}</option>
</select>

<div class="row" *ngIf="selectQuiz">
  <button class="btn btn-success" (click)="onSubmit()">Start Quiz</button> 
  <ng-container *ngIf="is_ready_quiz">
    <div *ngIf="showButton">
      <span class="card-title">{{currentQuestion+1}}</span>
      <p>{{currentQuestion}}</p>
    </div>

  </ng-container>
</div>

    
          
    
    
    


  
      
           
      
      